<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
<<<<<<< HEAD
      <%= link_to "sample app", '#', id: "logo" %>
=======
      <%= link_to "sample app", root_path, id: "logo" %>
>>>>>>> 2715e1058037e71c059b7597dbd25e3e9628480d
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>